dockerNetworkDirectory/output/*
!dockerNetworkDirectory/output/
!dockerNetworkDirectory/output/README.md
dockerNetworkDirectory/input/*
!dockerNetworkDirectory/input/
!dockerNetworkDirectory/input/README.md
dockerNetworkDirectory/workerFiles/DPIM/input/*
!dockerNetworkDirectory/workerFiles/DPIM/input/
!dockerNetworkDirectory/workerFiles/DPIM/input/.gitkeep
dockerNetworkDirectory/workerFiles/DPIM/output/*
!dockerNetworkDirectory/workerFiles/DPIM/output/
!dockerNetworkDirectory/workerFiles/DPIM/output/.gitkeep
dockerNetworkDirectory/workerFiles/extTLKC/input/*
!dockerNetworkDirectory/workerFiles/extTLKC/input/
!dockerNetworkDirectory/workerFiles/extTLKC/input/.gitkeep
dockerNetworkDirectory/workerFiles/extTLKC/output/*
!dockerNetworkDirectory/workerFiles/extTLKC/output/
!dockerNetworkDirectory/workerFiles/extTLKC/output/.gitkeep
dockerNetworkDirectory/workerFiles/PRETSA/input/*
!dockerNetworkDirectory/workerFiles/PRETSA/input/
!dockerNetworkDirectory/workerFiles/PRETSA/input/.gitkeep
dockerNetworkDirectory/workerFiles/PRETSA/output/*
!dockerNetworkDirectory/workerFiles/PRETSA/output/
!dockerNetworkDirectory/workerFiles/PRETSA/output/.gitkeep
dockerNetworkDirectory/workerFiles/SaCoFa/input/*
!dockerNetworkDirectory/workerFiles/SaCoFa/input/
!dockerNetworkDirectory/workerFiles/SaCoFa/input/.gitkeep
dockerNetworkDirectory/workerFiles/SaCoFa/output/*
!dockerNetworkDirectory/workerFiles/SaCoFa/output/
!dockerNetworkDirectory/workerFiles/SaCoFa/output/.gitkeep
netTasks/*
!netTasks/
!netTasks/README.md
netRequirements/*
!netRequirements/
!netRequirements/README.md